<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Simple Invest - Deals</title>
    </head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        .right_text {
            margin: auto;
            width: 60%;
            padding: 10px;
			text-align: right;
        }		
        .center_top {
            margin: auto;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-size: 24px;
        }        
    </style>
    <body>
        <h1 style="text-align:center">Deal</h1>
        <div class="center">
            <h3>Edit Deal</h3>
			<p style="color:red;">{{.ErrorMsg}}</p>
            <form method="POST" style="text-align:left">
				{{ if (gt .Id 0) }}
				<label>ID</label><br>
                <input type="text" name="Trade_id" value="{{.Id}}" /><br><br>			
				{{ end }}
                <label>Number</label><br>
                <input type="text" name="Trade_number" value="{{.Number}}"/><br><br>
                <label>Deal Date</label><br>
                <input type="date" name="Trade_date" value="{{.Date}}"><br><br>  
                <label>Deal Date Exec</label><br>
                <input type="date" name="Trade_date_exec" value="{{.Date_ex}}"><br><br>  				
                <label>Asset</label><br>
				{{$asset  := .Asset}}
				<select name = "Trade_asset">
				{{range .Assets}}
						<option value="{{.Id}}" {{ if eq .Id $asset }}selected="selected"{{ end }}>{{.Name}}</option>
				{{end}}
                </select><br><br> 
                <label>Direction</label><br>
                <select name="Trade_direction">
					{{ if eq .Direction "B" }}
                    <option value="B" selected >buy</option>
                    <option value="S">sell</option>
					{{ end }}
					{{ if eq .Direction "S" }}
                    <option value="B" >buy</option>
                    <option value="S" selected>sell</option>
					{{ end }}	
					{{ if eq .Direction "" }}
                    <option value="B" >buy</option>
                    <option value="S" >sell</option>
					{{ end }}						
                </select><br><br>    				
                <label>Qty</label><br>
                <input type="number" name="Trade_qty" step="0.000001" value="{{.Qty}}" /><br><br>  
                <label>Price Currency</label><br>
				{{$curr_price  := .Price_Currency}}
				<select name = "Trade_curr">
				{{range .Currencies}}
						<option value="{{.Name}}" {{if eq .Name $curr_price}}selected="selected"{{ end }}>{{.Name}}</option>
				{{end}}
                </select><br><br> 
                <label>Price</label><br>
                <input type="number" name="Trade_price" step="0.000001" value="{{.Price}}" /><br><br> 	
                <label>Amount</label><br>
                <input type="number" name="Trade_amount" step="0.01" value="{{.Amount}}" /><br><br>
                <label>Broker Commission Currency</label><br>
				{{$curr_comm  := .Broker_Comm_Currency}}
				<select name = "Trade_brok_comm_curr">
				{{range .Currencies}}
						<option value="{{.Name}}" {{ if eq .Name $curr_comm }}selected="selected"{{ end }}>{{.Name}}</option>
				{{end}}
                </select><br><br>	
                <label>Broker Commission</label><br>
                <input type="number" name="Trade_brok_comm" step="0.01" value="{{.Broker_Comm}}" /><br><br>	
                <label>Portfolio</label><br>
				{{$portfolio  := .Portfolio}}
				<select name = "Trade_portfolio">
				{{range .Portfolios}}
						<option value="{{.Id}}" {{ if eq .Id $portfolio }}selected="selected"{{ end }}>{{.Name}}</option>
				{{end}}
                </select><br><br>				
                <input type="submit" value="Save deal" />
            </form>
			<p style="right_text"><a href="/deals">Cancel</a></p>
        </div> 		
    </body>
</html>